h1{
  text-align: center;
  font-size: 80px;
}
.outline {
  text-align: center;
  margin-bottom: 20px;
}
#reset{
  background-color: #000000;
  color: #fff;
  border: 6px inset #03a;
}
#stop1{
  background-color: #000;
  color: #fff;
  border: 6px inset #03a;
}
#stop2{
  background-color: #000;
  color: #fff;
  border: 6px inset #03a;
}
#stop3{
  background-color: #000;
  color: #fff;
  border: 6px inset #03a;
}

#im1{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  width: 600px;
  height: 250px;
}

#im2{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  width: 600px;
  height: 150px;
}

#im3{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  width: 600px;
  height: 300px;
}